*{margin: 0;padding: 0;list-style: none;box-sizing: border-box;}
.list{
    width: 1000px;
    margin: 300px auto 0 auto;
    overflow: hidden;
}
.list li{
    padding: 20px;
    background-color: #0c4dd5;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.list2 ul{
    margin: 0 auto 0 auto;
    display: flex;
    list-style: none;
}
.list2 li{
    height: 100px;
    width: 100px;
    background-color: #1d4177;
    margin-right: 10px;
}

p.is-active {
    color: red;
}

p.blue.is-active {
    color: blue;
}

button.visibilityButton{
    border: none; /* Remove borders */
    color: rgb(173, 6, 6); /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Get the link to behave like a button */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margins */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}